
.trendymain{
    width: 100%;
    min-height: 50vh;
    border: 2px solid black;
    margin-top: 5%;
    border-radius: 2%;
   
display: flex;
         
     
}

 
.trendychild {
    margin-left: 1%;
  margin-top: 1%;
width: 20%;
min-height: 40vh;
    padding: 2%;
    padding-bottom: 3%;
    border-radius: 9px;
    margin: 1%;
    box-shadow: 7px 15px 25px #444;
}
 .trendychild  img{
    height: 40vh;
    width: 100%;
}
.trendychild button{
    margin: 4px;
    padding-inline: 17px;
    background-color: cornflowerblue ;
    color: ghostwhite;
    border-radius: 6px;
    font-size: large;
}
