.NavBar{

   

    justify-content: center;

    display: flex;
    background-color: burlywood;
    width: 100%;
    padding-bottom: 10px;
    border-radius: 8px;
    position: fixed;
    z-index: 1000;
    top: 0;
    box-shadow: 2px 9px 16px #444;

  
}
.NavBar ul{
    display: flex;
    list-style: none;
    text-decoration: none;
}

.NavBar ul li{
   
   
  
   
    font-size: small;
    
}
.dott{
   width:19px;
   height: 13px;
 margin-right: 5%;
  margin-top: 15px;
}
.dott hr{
    color: #040000;
    background-color: black;
    margin-left: 15%;
    box-shadow: 2px 3px 6px black;
}
.menubar{
    width: 50%;
    justify-content: end;
    height: 100%;
    z-index: 1000;
    background: rgb(51, 51, 139);
}

   



.NavBar ul li{
    list-style: none;
    display: inline;
    margin: 5px;
    text-decoration: none;
    font-size: large;
}
@media screen and (max-width: 414px){
  .NavBar ul li{
    list-style: none;
    display: inline;
    margin: 5px;
    text-decoration: none;
    font-size: small;
}  
}

