.NavBar{
    justify-content: center;
    display: flex;
    background-color: burlywood;
    width: 100%;
    padding-bottom: 10px;
    border-radius: 8px;
    position: fixed;
    z-index: 1000;
    top: 0;
    box-shadow: 2px 9px 16px #444;
}
.NavBar ul li{
    list-style: none;
    display: inline;
    margin: 5px;
    text-decoration: none;
    font-size: large;
}
@media screen and (max-width: 414px){
  .NavBar ul li{
    list-style: none;
    display: inline;
    margin: 5px;
    text-decoration: none;
    font-size: small;
}  
}