.NavBar{

   

    justify-content: center;

    display: flex;
    background-color: burlywood;
    width: 100%;
    padding-bottom: 10px;
    border-radius: 8px;
    position: fixed;
    z-index: 1000;
    top: 0;
    min-height: 25px;
    box-shadow: 2px 9px 16px #444;

  
}
.NavBar ul{
    display: flex;
    list-style: none;
    text-decoration: none;
}

.NavBar ul li{
   
   
  
   
    font-size: small;
    
}
.dott{
   width:19px;
   height: 13px;
 margin-right: 8%;
  margin-top: 15px;
 background-color: rgb(214, 30, 122);
}

a{
    text-decoration: none;
}
.dott hr{
   
   
    margin-left: 15%;
    margin-top: 2px;
    box-shadow: 2px 3px 6px black;
}
.menubar{
    width: 50%;
    justify-content: end;
    height: 600px;
    border-radius: 16px;
   
    z-index: 999;
    margin-left: 35%;
    position: absolute;
    background: rgb(51, 51, 139);
   
}
.menubar a{
    text-decoration: none;
    display: flex;
    color: #f8f4f4;
    margin-top: 55%;

    
}
.menubar button{
    margin-top: 25%;
   
}
.nav-menu.active{
    border-bottom: 2px solid blue;
}

   



.NavBar ul li{
    list-style: none;
    display: inline;
    margin: 5px;
    text-decoration: none;
    font-size: large;
}
@media screen and (max-width: 414px){
  .NavBar ul li{
    list-style: none;
    display: inline;
    margin: 5px;
    text-decoration: none;
    font-size: small;
}  
}

