.Hero{
    margin-top: 10%;
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.Textt{
    margin-left: 10%;
    margin-top: 5%;
}
.Textt h1{
   color: rgb(129, 83, 22);
   font-size: 30px;
}
.Textt .urstyle{
    margin-left: 60px;
    margin-bottom: 5px;
    color: rgb(70, 107, 14);
}
.Textt h3{
    color: rgb(112, 50, 50);
    margin-left: 5%;
}
.Heroimg{
    margin-right: 15%;
}
@media screen and (max-width: 414px){

.Textt{
    margin-left: 5%;
    margin-top: 10%;
}
.Textt h1{
   color: rgb(129, 83, 22);
   font-size: 20px;
}
.Textt .urstyle{
    margin-left: 20px;
    margin-bottom: 15px;
    color: rgb(70, 107, 14);
}
.Textt h3{
    color: rgb(112, 50, 50);
    margin-left: 5%;

}
.Heroimg{
    margin-left: 15%;
    margin-top: 13%;
}
}