.Bigimg{
    width: 35%;
    height: 500px;
    box-shadow: 3px 9px 19px #444;

    margin-left: 5%;
}
.Bigimg img{
    width: 100%;
    height: 100%;
}
.Smallimg{
      width: 36%;
      display: flex;
      margin-left: 5%;
}
.Smallimg img {
    width: 36%;
    margin-top: 19px;
margin: 2%;
border-radius: 3%;
  box-shadow: 3px 9px 19px #444;
}
@media (max-width: 768px) {

 
  div[style] {
    margin-top: 32% !important;
  }

 
  h1 {
    font-size: 20px;
    text-align: center;
    margin-bottom: 8px;
  }

  
  .Bigimg {
    width: 90%;
    height: 26vh;
 
    margin: auto;
    border-radius: 10px;
  }

  .Bigimg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  
  .Smallimg {
    width: 90%;
    justify-content: space-between;
    margin: 10px auto;
  }

  .Smallimg img {
    width: 31%;
    height: 80px;
    object-fit: cover;
    border-radius: 6px;
  }

  
  h3 {
    font-size: 18px;
    text-align: center;
    margin: 10px 0;
  }

 
 
}
